@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<center>
    <center style="width: 400px">
        <h1>Login</h1>

        <form method="post" asp-action="Login">
            <div>
                <label for="exampleFormControlInput1">Username</label>
                <input asp-for="Username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div>
                <label for="exampleFormControlInput1">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                @Html.ValidationSummary(false,"",new{@class ="text-danger" })
            </div>
            <input type="submit" value="Login" class="card-link" />
            <input type="button" class="card-link" value="register" onclick="location.href='@Url.Action("Register", "Account")'" />
        </form>
    </center>
</center>